#activities
  padding: 1em 1em 1em 2em
  background: #3fa535
  color: #e1e1e1
  border-radius: 1em

.activity
  margin: .5em auto
  display: inline-block
  background: #78d16f
  padding: 0 .5em
  border-radius: 1em
  width: 100%


.activity-link
  vertical-align: middle
  width: auto
  &:hover
    color:#9b35a5;
