/* Mobile First CSS */
#activities
  background: #3fa535
  color: #333333

.activity
  margin: .5em auto
  padding: .5em
  display: inline-block
  background: #78d16f
  width: 100%
  text-align: center
  &:first-child
    margin-top: 1em
  &:last-child
    margin-bottom: 1em

  &-link
    vertical-align: middle
    width: auto
    display:inline-block
    margin: .5em auto
    &:hover
      color:#9b35a5

.show-activity-button
  background: none
  border: 1px solid
  margin-left: 1em
  color: #000
  padding: .2em .5em
  &:hover
    background: #9b35a5
    border-color: #9b35a5
    color: #FFF

/* Mobile + */
//@media (min-width: 400px)

/* Phablets */
//@media (min-width: 550px)

/* Tablettes */
//@media (min-width: 750px)

/* Desktop */
@media (min-width: 1000px)
  #activities
    padding: 1em 1em 1em 2em
    border-radius: 1em
    margin: 2em
  .activity
    border-radius: 1em
    &-hour
      &:after
        content: ' : '
/* Desktop HD */
@media (min-width: 1200px)
  .activity
    padding: .5em 0
    &-hour
      display: inline-block
      vertical-align: middle
      margin-right: .2em

/* Desktop Wide */
//@media (min-width: 1400px)
