@import '../var.styl'
#notebook
  width: 100%
  margin: 3em auto
  background: #FFF
  padding: 1em
  position: relative
  font-family: font-main
  overflow: hidden
  border-radius: 1em
  border: 1px solid black
