{% extends 'base.html.twig'%}

{% block body %}
	<h1>Appreciation</h1>

	<table>
		<tbody>
			<tr>
				<th>Cours de guitare</th>

			</tr>
			<tr>
				<th>Prénom de l'élève</th>
			</tr>
			<tr>
				<th>Nom de l'élève</th>
			</tr>
			<tr>
				<th>Observation</th>
			</tr>
		</tbody>
	</table>

{% endblock %}
