{% extends 'base.html.twig' %}

{% block body %}
{#dump(essai)#}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div id="root"></div>
		<script src="{{asset('js/app.js')}}"></script>
		<script>require('src/index');</script>
	{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

<script src="https://use.fontawesome.com/d21c915728.js"></script>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">
{% endblock %}
