{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<h1>Mes élèves</h1>
		{% for subscription in students %}
		<h2>Id de l'inscription{{subscription.id}} </h2>
		Nom de l'élève : {{subscription.student.firstname}}

		{% endfor %}


{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
<script src="https://use.fontawesome.com/d21c915728.js"></script>
<script src="{{asset('js/app.js')}}"></script>
<script>require('src/index');</script>
{% endblock %}
