#root
  width: 100%
  margin: auto
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ac/a8/e8/aca8e8319665a1f8a2f3807dbcc835ad.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: 140%
  height: 100vh
/* Desktop */
@media (min-width: 1000px)
  #root
    padding: 2em 0
