/* Mobile First CSS */
.presence
  display: inline-block
  vertical-align: middle;
  width: 100%

.activity-statut
  display: inline-block

.present
  color: #2dbb1f

.absent
  color: red

/* Mobile + */
//@media (min-width: 400px)

/* Phablets */
//@media (min-width: 550px)

/* Tablettes */
//@media (min-width: 750px)

/* Desktop */
@media (min-width: 1000px)
  .presence

  .activity-statut
    display: inline-block

  .present
    color: #2dbb1f

  .absent
    color: red
/* Desktop HD */
@media (min-width: 1200px)
  .presence
    border-left: 1px solid #35a550
    width: 200px
    float: right

/* Desktop Wide */
//@media (min-width: 1400px)
