.presence
  display: inline-block
  vertical-align: middle;
  margin-left: 1em;
  border-left: 1px solid #35a550
  padding: .5em
  width: 300px

.activity-statut
  display: inline-block

.present
  color: #2dbb1f

.absent
  color: red
