#activity-view
  width: 900px
  text-align: center
  margin: 3em auto
  background: rgba(169, 219, 233, 0.9)
  padding: 1em
  & p
    margin: .5em

#activity-title
  font-size: 1.5em
  margin: 1em auto

#label-observation
  display: block
  &::first-letter
    text-transform: uppercase

#observation
  resize: none
  width: 100%

.present
  color: green

.absent
  color: red
