{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des réunions</h1>

    <table>
        <thead>
            <tr>
				<th>Date</th>
                <th>Nom</th>
				<th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
				<td>{% if meeting.date %}{{ meeting.date|date('d-m-Y à  H\\hi') }}{% endif %}</td>
                <td>{{ meeting.name }}</td>

                <td>
                    <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="btn btn-warning" href="{{ path('meeting_edit', { 'id': meeting.id }) }}">modifier</a>
                        </li>
					{% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
			 {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-new" href="{{ path('meeting_new') }}">Créer une nouvelle réunion</a>
			{% endif %}
        </li>
    </ul>
{% endblock %}
