{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une réunion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer la réunion prof" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('meeting_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
