 @import "../var.styl"

#notifications
  text-align:right
  position: absolute
  right: 10px
  top: 0px

  &-title
    color: #FFF
    font-size: 1.2em
    margin-bottom: 0.3em
    padding: 0
    font-weight: 300
    font-family: font-flower

  &-messages
    text-align: left
    background-color: rgba(215, 44, 44, 0.7);
    padding: 1em
    position: absolute
    right: 20px
    width: 378px
    border: 1px solid black
    z-index: 0
    transition: all 1s
    z-index: 1

  &-counter
    display: inline-block
    position: relative
    cursor: pointer
    z-index: 2
    &-icon
      color: blue
      font-size: 2.5em
      position: absolute
      top: 1px
      right: 1px
    &-count
      position: absolute
      top: 0
      right: 1px
      padding: 1px 3px;
      display: inline-block;
      border-radius: 50%
      background: red;
      border: 1px solid black
      color: #FFF
      font-weight: bold
      z-index: 1
      user-select: none

.hide-notif
  opacity: 0
  right: -550px!important
  transform: rotate(270deg);


.close-notif
  margin-left: .5em
