#notifications
  text-align:right
  margin-bottom: 5em
  position: relative

  &-counter
    display: inline-block
    width: 80%
    margin: 1em auto
    padding: 1em 5%
    position: relative
    cursor: pointer

    &:after
      content: "\f111"
      font-family: FontAwesome
      position: absolute
      font-size: 40px
      color: red
      top: 0
      right: 0
      z-index: 1

    &-count
      position: absolute
      right: 13px
      top: 13px
      z-index: 2
      color: white
      font-weight: bold
      user-select : none

.hide-notif
  display: none
